@import "variables.less";
@import "maps.less";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    list-style: none;
}
:root{
    font-size: 62.5%;
}

@breackpointMobile: ~"(max-width:767px)";
@breackpointTablet: ~"(min-width:768px) and (max-width:1023px)";



body{
    font-size: 1.6rem;
    background-color: #color[backgroundcolor];
}

h1{
    font-family: 'Basic', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    text-transform: uppercase;
    color: #500d55;
    margin-top: 40px;
}

main {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    @media @breackpointMobile{
        max-width: 80%;
    }
}

button{

    padding: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.3rem;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    &:hover{
        background-color: #437855;
    }

}

input{
    display: block;
    margin: 16px auto 0;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    max-width: 120px; 
    border-bottom: 5px solid rgb(122, 68, 68);
    outline: none;
    text-align: center;
    color: rgb(39, 38, 38);
  
}

.result{
    padding: 16px;
    margin-top: 120px;
    border:  8px dotted #ffff;
    display: none;
    span{
        font-weight: bold;
        font-size: 3em;
        display: block;
    }
}
